.container{
    display: inline-block;
    width: 100%;
    height: 100vh;
    h3{
        display: inline-block;
        width: 600px;
        margin: 0 calc((100% - 600px ) / 2); 
        text-align: center;
    }
    .dropdown{
        display: inline-block;
        width: 300px;
        line-height: 30px;
        min-height: 40px;
        height: auto;
        position: relative;
        margin: 50px calc((100% - 300px ) / 2);
        border:1px solid gray;
        border-radius: 5px;
        
        *{
            margin-left: 5px !important;
        }
        .block{
            display: inline-block;
            width: 80%;
            height: auto;
            float: left;
            position: relative;
            margin: 0 !important;
            padding: 5px;
            word-break: break-all;
            *{
                display: inline-block;
                float: left;
                max-width: 100% !important;
                margin: auto;
                padding: auto;
            }
            

            
            .tagselection{
                display: inline-block;
                border-radius: 2px;
                border: 1px solid #007eff;
                float: left;
                padding:2px;
                margin: 5px 0 5px 5px !important;
                width: auto;
                height: auto;
                line-height: 20px;
                color: #007eff;
                background-color: rgba(0,126,255,.08);
                border: 1px solid #007eff;
                .delete{
                    width: 15px;
                    float: left;
                    margin: 0 5px !important;
                    padding: 0 !important;
                    color: #007eff;
                    cursor: pointer;
                    border-right: 1px solid #007eff;
                }
                
            }
        }
        .options {
            border: 1px solid gray;
            display: none;
            width: 300px;
            text-align:left;
            max-height: 300px;
            margin: 0 !important;
            overflow-y: auto;
            border-radius: 5px;
            & *:hover {
                background-color:rgb(223, 237, 251);
            }
             *{
                cursor: pointer;
                padding-left:2px;
            }
        } 
            .arrow {
                width: 0; 
                height: 0; 
                position: absolute;
                top: 15px;
                right: 15px;
                color: grey;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid grey;
                transform: rotate(180deg);
            }
    } 
    .active{
        .options {
            display: inline-block;
        }  
        .arrow{
            transform: rotate(0);
        } 
    } 
    input{
        height: auto !important;
        line-height: 20px !important;
        user-select: none !important;
        min-height: 35px !important;
        font-size: 15px !important;
        word-break: break-all;
        border: none;
        &:focus{
            outline: none;
        }
    }   
    .error{
        width: 100%;
    }
             
}